<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur5e_arm_only">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import ur5e_arm_only urdf file -->
    <xacro:include filename="$(find manipulator_description)/URDF/manipulator_urdf/ur5e_arm_only.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="ur5e_arm_only.ros2_control.xacro" />


    <xacro:ur5e_arm_only_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
